[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
  ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
  ignore = untracked
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
  ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
  ignore = untracked
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
  ignore = untracked
[submodule "bundle/vim/surround"]
	path = bundle/vim/surround
	url = https://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "bundle/vimtemplate.vim"]
	path = bundle/vimtemplate.vim
	url = https://github.com/tyru/vimtemplate.vim.git
  ignore = untracked
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
  ignore = untracked
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "bundle/eteSkeleton"]
	path = bundle/eteSkeleton
	url = git@github.com:stick/eteSkeleton.git
[submodule "bundle/vim-dnstools"]
	path = bundle/vim-dnstools
	url = git@github.com:stick/vim-dnstools.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
  ignore = untracked
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
  ignore = untracked
