[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
  ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
  ignore = untracked
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
  ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
  ignore = untracked
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
  ignore = untracked
[submodule "bundle/vim/surround"]
	path = bundle/vim/surround
	url = https://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "bundle/vimtemplate.vim"]
	path = bundle/vimtemplate.vim
	url = https://github.com/tyru/vimtemplate.vim.git
  ignore = untracked
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
  ignore = untracked
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "bundle/eteSkeleton"]
	path = bundle/eteSkeleton
	url = git@github.com:stick/eteSkeleton.git
[submodule "bundle/vim-dnstools"]
	path = bundle/vim-dnstools
	url = git@github.com:stick/vim-dnstools.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
  ignore = untracked
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
  ignore = untracked
[submodule "bundle/gitolite.vim"]
	path = bundle/gitolite.vim
	url = https://github.com/tmatilai/gitolite.vim.git
  ignore = untracked
[submodule "bundle/vim-template"]
	path = bundle/vim-template
	url = https://github.com/thinca/vim-template.git
  ignore = untracked
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
  ignore = untracked
[submodule "bundle/textile.vim"]
	path = bundle/textile.vim
	url = https://github.com/timcharper/textile.vim.git
  ignore = all
[submodule "bundle/vim-pastie"]
	path = bundle/vim-pastie
	url = https://github.com/tpope/vim-pastie.git
  ignore = untracked
[submodule "bundle/puppet-vim"]
	path = bundle/puppet-vim
	url = git@github.com:stick/puppet-vim.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/tracwiki"]
	path = bundle/tracwiki
	url = https://github.com/vim-scripts/tracwiki.git
[submodule "bundle/vim-ansible-yaml"]
	path = bundle/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-javascript.git"]
	path = bundle/vim-javascript.git
	url = https://github.com/pangloss/vim-javascript.git
